<!DOCTYPE html>
<html>
  <head>
    <title>Search Movie By Rating | Rotten Potatoes</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
<%- include('navbar') %>
  <body>
    <h1><%= rating %>+ Movies</h1>
    <div class="container">
      <table>
        <tr>  
          <th>Movie</th>
          <th>Genre</th>
          <th>Average Rating</th>
        </tr>
        <% movies.forEach(movie => { %>
          <tr>
            <% let arr = []; %>
            <% for (let i = 0; i < reviews.length; i++) { %>
              <% if (reviews[i].movieId === movie.id) { %>
                <% arr.push(reviews[i].score) %>
              <% } %>
            <% } %>
            <% console.log(avg(arr), rating) %>
            <% if (avg(arr) >= Number(rating)) { %>
              <td><%= movie.title %></td>
              <td><%= movie.genre %></td>
              <td><%= avg(arr) %></td>
            <% } %>
          </tr>
        <% }) %>
      </table>
    </div><br>
    <a href="/search">back</a>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>