<!DOCTYPE html>
<html>
  <head>
    <title>Register User | Rotten Potatoes</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <h1>Register User</h1>
    <div class="container">
      <form action="/user/register" method="post">
        <b>Username</b><br>
        <input type="text" name="username" class="form-control"><br><br>
        <b>Password</b><br>
        <input type="text" name="password" class="form-control"><br><br>
        <b>Gender</b><br>
        <select name="gender">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select><br><br>
        <b>Email</b><br>
        <input type="email" name="email" class="form-control"><br><br>
        <input type="submit" value="Register" class="button">
      </form>
    </div>
    <div class="container">
      <table>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Gender</th>
          <th>Email</th>
          <th>Options</th>
        </tr>
        <% users.forEach(user => { %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.username %></td>
            <td><%= user.gender %></td>
            <td><%= user.email %></td>
            <td><a href="/user/<%= user.id %>/edit">Edit</a> || 
                <a href="/user/<%= user.id %>/delete">Delete</a>
            </td>
          </tr>
        <% }) %>
      </table>
    </div><br>
    <a href="/">back</a>
  </body>
</html>